{% extends "base.html" %}

{% block head %}
    {% load static %}
    <meta charset="UTF-8">
    <title>{{ user_data.username }}</title>
{% endblock %}

{% block sidebar %}
    <ul>
        <li><a href="/">Index</a></li>
        <li><a href="/profiles">{{ user.username }} | Profile</a></li>
        <li><a href="/accounts/logout/">Logout</a></li>
    </ul>
{% endblock %}

{% block content %}
    {% if user_data.avatar == None or user_data.avatar == ''%}
        <img src="{% static 'accounts/img/logo.png' %}" width="150px" height="150px"/>
    {% else %}
        <img src="/{{ MEDIA_URL }}{{ user.avatar }}" width="150px" height="150px"/>
    {% endif %}<br>
    Username: {{ user_data.username }}<br>
    First Name: {{ user_data.first_name }}<br>
    Last Name: {{ user_data.last_name }}<br>
    Email: {{ user_data.email }}<br>
    Date Joined: {{ user_data.date_joined }}<br>
    City: {{ user_data.city.name }}
    <h3>Denboras: {{ user_data.denboras }}</h3><br><br>
    {% if user_skills %}
        <table border="2">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Category</th>
            </tr>
            {% for user_skill in user_skills %}
            <tr>
                <td>{{ user_skill.skill.name }}</td>
                <td>{{ user_skill.skill.desc }}</td>
                <td>{{ user_skill.skill.category.name }}</td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}<br><br>
    <a href="{% url 'profiles:edit' %}">Edit Profile</a><br>
    <a href="{% url 'profiles:add_skill' %}">Add Skill</a><br>
{% endblock %}