{% extends "base.html" %}

{% block head %}
    {% load static %}
    <meta charset="UTF-8">
    <title>Welcome to Denbora</title>
{% endblock %}

{% block header %}
	<div class="header header-filter" style="background-image: url('{% static 'img/sand_clock_header.jpg' %}');">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="brand">
						{% if messages %}
							{% for message in messages %}
							   <div class="alert alert-success">
									<div class="container-fluid">
										<div class="alert-icon">
											<i class="material-icons">check</i>
										</div>
										<button type="button" class="close" data-dismiss="alert" aria-label="Close">
											<span aria-hidden="true"><i class="material-icons">clear</i></span>
										</button>
										<b>Success:</b> {{ message }}
									</div>
								</div>
							{% endfor %}
        				{% endif %}
						<h1>Denbora.</h1>
						<h3>Share | your | time</h3>
					</div>
				</div>
			</div>
            <div class="card card-raised card-form-horizontal">
							<div class="content">
								<form method="post" action="{% url 'search:search' %}">
                                    {% csrf_token %}
									<div class="row">
										<div class="col-md-5">
											<div class="form-group is-empty">
						        	        	<input class="form-control" id="autocompletar" name="skill" size="30" placeholder="What do you want to learn ?" required>
                                                <input id ="skillid" name="skillid" hidden>
						                	<span class="material-input"></span></div>
										</div>
										<div class="col-md-5">
											<div class="form-group is-empty">
						        	        	<input class="form-control" id="id_city" type="text" size="50" placeholder="Enter a location" autocomplete="on" runat="server" name="city" required>
						                	<input type="hidden" id="lat" name="lat" value=""/>
                                            <input type="hidden" id="lon" name="lon" value=""/>
                                                <span class="material-input"></span></div>
										</div>
										<div class="col-md-2">
											<button type="submit" class="btn btn-primary btn-block">Search</button>
										</div>
									</div>
								</form>
							</div>
						</div>
		</div>
	</div>
{% endblock %}

{% block javascript %}
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script>var $j15 = jQuery.noConflict(true);</script>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
    <script src="{% static 'search/js/skill_autocomplete.js' %}" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script>var $j16 = jQuery.noConflict(true);</script>
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places" type="text/javascript"></script>
    <script src="{% static 'search/js/city_autocomplete.js' %}" type="text/javascript"></script>
{% endblock %}