{% extends "base.html" %}

{% block head %}
    {% load static %}
    <meta charset="UTF-8">
    <title>Skill Search</title>
    <style>
        #map {
    height: 55vh !important;
}
.navbar.navbar-transparent {
    background-color: rgba(128,128,128,0.5) !important;
}
.card-image{
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    width:200px !important;
    height:200px !important;
}
    </style>
{% endblock %}


{% block header %}
<div id="map">

</div>
{% endblock %}

{% block main %}
    <div class="main main-raised">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h2 class="title">{{ search_data.skill }}</h2>
                <h5 class="description">{% if datas %}Users {% else %} Nothing {% endif %} found near {{ search_data.location }}</h5>
            </div>
        </div>
        <div class="row">
            <div class="container">
            {% for data in datas %}
                <div class="col-md-6">
                    <div class="card card-profile card-plain">
                        <div class="col-md-5">
                            <div class="card-image">
                                <a href="#pablo">
                                    {% if data.user.avatar == None or user.avatar == ''%}
                                        <img class="img" src="{% static 'accounts/img/logo.png' %}"/>
                                    {% else %}
                                        <img class="img" src="/{{ MEDIA_URL }}{{ data.user.avatar }}"/>
                                    {% endif %}
                                </a>
                                <div class="ripple-container"></div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="content">
                                <h4 class="card-title">{{ data.user.first_name }} {{ data.user.last_name }} |
                                    <i class="material-icons">hourglass_empty</i> {{ data.user.denboras }}</h4>
                                <h6 class="category text-muted">{{ data.user.username }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a class="label label-info" href="/messaging/send_message/username={{ data.user.username }}">Send Message</a></h6>

                                <p class="card-description">
                                    {{ data.skill.skill.desc }}
                                </p>
                                <p class="card-description">
                                    <i class="material-icons">place</i>{{ data.user.city.complete_location }}
                                </p>
                                <div class="footer">
                                    <a href="#pablo" class="btn btn-just-icon btn-simple btn-twitter"><i class="fa fa-twitter"></i></a>
                                    <a href="#pablo" class="btn btn-just-icon btn-simple btn-facebook"><i class="fa fa-facebook-square"></i></a>
                                    <a href="#pablo" class="btn btn-just-icon btn-simple btn-google"><i class="fa fa-google"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
      function initMap() {
        var uluru = {lat: {{ search_data.lat }}, lng: {{ search_data.lon }}};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 13,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfuLqLFDmbHcPtArHADGHUhiOGdXfjHhI&callback=initMap">
    </script>
{% endblock %}
