<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <title>{% block title %}Denbora Project{% endblock %}</title>
    {% endblock %}
</head>

<body>
    <div id="sidebar">
{% block sidebar %}
    {% if user.is_authenticated %}
            <ul>
                <li><a href="/">Index</a></li>
                <li><a href="/profiles">{{ user.username }} | Profile</a></li>
                <li><a href="/messaging/inbox/">{{ message_unread }} Inbox</a></li>
                <li><a href="/accounts/logout/">Logout</a></li>
            </ul>
    {% else %}
            <ul>
                <li><a href="/">Index</a></li>
                <li><a href="/accounts/signin/">Login</a></li>
            </ul>
    {% endif %}
{% endblock %}
    </div>

    <div id="content">
        {% block content %}

        {% endblock %}
    </div>
</body>
{% block javascript %}
{% endblock %}
</html>